[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm
[submodule "OBJ-Loader"]
	path = OBJ-Loader
	url = https://github.com/Bly7/OBJ-Loader
